<p id="notice"><%= notice %></p>

<h1>Listing Messages</h1>

<table>
  <thead>
    <tr>
      <th>Body</th>
      <th>User</th>
      <th>Posted</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @messages.each do |message| %>
        <tr class= "<%= cycle('list_line_odd', 'list_line_even') -%>">
        <td><%= message.body %></td>
        <td><%= message.user.name %></td>
        <span class="timestamp">
            <td> <%= time_ago_in_words(message.created_at) %> ago. </td>
        </span>
        <td><%= link_to 'Show', message %></td>
        <td><%= link_to 'Edit', edit_message_path(message) %></td>
        <td><%= link_to 'Destroy', message, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Message', new_message_path %>
