<p id="notice"><%= notice %></p>

<p>
  <strong>Body:</strong>
  <%= @message.body %>
</p>

<p>
  <strong>User:</strong>
  <%= @message.user.name %>
</p>
<p>
<span class="timestamp">
    Posted <%= time_ago_in_words(@message.created_at) %> ago. 
</span>
</p>

<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
