/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
.list_line_even {
    background: #e0f8f8;
}
.list_line_odd {

    background: #f8b0f8;
}
