<!DOCTYPE html>
<html>
<head>
  <title>Chatapp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

    <!-- this caused the message to be printed twice since we are handling it in another place
         <p class="notice"><%= notice %></p>
         <p class="alert"><%= alert %></p>
    -->
<%= yield %>

</body>
</html>
